<style>
    .l-footer .m-footer__extra .c-footer__extra-social .c-footer__item{
        margin: 0 3px !important;
    }
</style>
<footer class="l-footer t-bg-color--dark">
    <div class="l-row-container">
        <div class="m-footer__info t-clear-fix">
            <a href="/" class="c-footer__info-link-logo t-float-l">
                <img src="/arquivos/logo-mobile-neg.png" />
            </a>

            <a href="/" class="c-footer__info-tel t-float-r t-text-color--light">
                (42) 3622-1418
            </a>
        </div>

        <div class="m-footer__nav">
            <ul class="c-footer__nav-list">
                <li class="c-footer__nav-item">
                    <a href="javascript:void(0)" class="c-footer__nav-link t-text-color--light has--drop">Institucional</a>
                    <div class="c-footer__nav-dropdown">
                        <ul class="c-footer__nav-dropdown-list">
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/institucional/conheca" class="c-footer__nav-dropdown-link t-text-color--light">Conheça a Mservice</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/institucional/sustentabilidade" class="c-footer__nav-dropdown-link t-text-color--light">Sustentabilidade</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/institucional/fornecedor" class="c-footer__nav-dropdown-link t-text-color--light">Seja nosso fornecedor</a>
                            </li>

                            <li class="c-footer__nav-dropdown-item">
                                <a href="/institucional/revenda" class="c-footer__nav-dropdown-link t-text-color--light">Seja nossa revenda</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/institucional/corporativas" class="c-footer__nav-dropdown-link t-text-color--light">Vendas Corporativas</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/institucional/fale-conosco" class="c-footer__nav-dropdown-link t-text-color--light">Fale Conosco</a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="c-footer__nav-item">
                    <a href="javascript:void(0)" class="c-footer__nav-link t-text-color--light has--drop">Dúvidas</a>
                    <div class="c-footer__nav-dropdown">
                        <ul class="c-footer__nav-dropdown-list">
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/duvidas/como-comprar" class="c-footer__nav-dropdown-link t-text-color--light">Como Comprar</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/duvidas/trocas" class="c-footer__nav-dropdown-link t-text-color--light">Trocas e devoluções</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/duvidas/formas-pagamento" class="c-footer__nav-dropdown-link t-text-color--light">Formas de pagamento</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/duvidas/garantia"  class="c-footer__nav-dropdown-link t-text-color--light">Garantia</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/duvidas/servicos-entrega" class="c-footer__nav-dropdown-link t-text-color--light">Serviços de Entrega</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/duvidas/politica" class="c-footer__nav-dropdown-link t-text-color--light">Política de privacidade e Segurança</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="c-footer__nav-item">
                    <a href="javascript:void(0)" class="c-footer__nav-link t-text-color--light has--drop">Categorias</a>
                    <div class="c-footer__nav-dropdown">
                        <ul class="c-footer__nav-dropdown-list">
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/telefonia/acessorios-para-celular" class="c-footer__nav-dropdown-link t-text-color--light">Acessórios para Celular</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/telefonia" class="c-footer__nav-dropdown-link t-text-color--light">Telefonia</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/informatica" class="c-footer__nav-dropdown-link t-text-color--light">Informática</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/hardware" class="c-footer__nav-dropdown-link t-text-color--light">Hardware</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/eletronicos" class="c-footer__nav-dropdown-link t-text-color--light">Eletrônicos</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/games" class="c-footer__nav-dropdown-link t-text-color--light">Games</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/esporte-e-lazer" class="c-footer__nav-dropdown-link t-text-color--light">Esporte &amp; Lazer</a>
                            </li>
                            <li class="c-footer__nav-dropdown-item">
                                <a href="/marcas" class="c-footer__nav-dropdown-link t-text-color--light">Marcas</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>


        <div class="m-footer__extra">

            <div class="c-footer__extra-block c-footer__extra-social t-text--center">
                <h5 class="c-footer__extra-title t-text-color--light">Fique conectado</h5>
                <ul class="c-footer__extra-list">
                    <li class="c-footer__item">
                        <a target="_blank" href="https://www.facebook.com/MserviceTecnologia/" class="c-footer__extra-link is--facebook is--icon">facebook</a>
                    </li>

                    <li class="c-footer__item">
                        <a target="_blank" href="https://twitter.com/mserviceinf" class="c-footer__extra-link is--twitter is--icon">twitter</a>
                    </li>

                    <li class="c-footer__item">
                        <a target="_blank" href="https://plus.google.com/+mserviceGuarapuava" class="c-footer__extra-link is--google is--icon">Google Plus</a>
                    </li>

                    <li class="c-footer__item">
                        <a target="_blank" href="https://instagram.com/mservice_tecnologia/" class="c-footer__extra-link is--instagram is--icon">Instagram</a>
                    </li>

                    <li class="c-footer__item">
                        <a target="_blank" href="http://linkedin.com/company/mservice" class="c-footer__extra-link is--linkedin is--icon">LikedIn</a>
                    </li>

                    <li class="c-footer__item">
                        <a target="_blank" href="https://www.youtube.com/user/ESIERDOVSKI" class="c-footer__extra-link is--youtube is--icon">Youtube</a>
                    </li>
                </ul>
            </div>


            <div class="c-footer__extra-block c-footer__extra-payment t-text--center">
                <h5 class="c-footer__extra-title t-text-color--light">Formas de pagamento</h5>
                <ul class="c-footer__extra-list">
                    <li class="c-footer__item">
                        <a href="/" class="c-footer__extra-link">
                            <img src="/arquivos/mservice-pag.png" class="c-footer__extra-img" />
                        </a>
                    </li>
                </ul>
            </div>


            <div class="c-footer__extra-block c-footer__extra-secure t-text--center">
                <h5 class="c-footer__extra-title t-text-color--light">Segurança</h5>
                <ul class="c-footer__extra-list">
                    <li class="c-footer__item">
                        <!-- <a href="/" class="c-footer__extra-link">
                            <img src="/arquivos/seguranca-2.png" class="c-footer__extra-img" />
                        </a>-->

                        <div id="armored_website">
                            <param id="aw_preload" value="true" />
                        </div>
                        <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>

                        <!-- EBIT -->
                        <div class="c-footer__item-selo">
                            <a id="seloEbit" href="http://www.ebit.com.br/mservice" target="_blank" onclick="redir(this.href);">Avaliação de Lojas e-bit</a>
                            <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?10665" >
                            </script>
                        </div><!-- EBIT -->
                        
                        <!-- CLEARSALE -->
					    <div class="c-content-footer__nav-selo">
					        <a id="seloClearsale" href="https://selo.clearsale.com.br/Loja/ExibirDetalhesLoja/013c0883-12ca-4472-b200-f1c0ce15c2b2" target="_blank"><img src="https://selo.clearsale.com.br/Imagem/013c0883-12ca-4472-b200-f1c0ce15c2b2" alt="Selo Clearsale" /></a>
					    </div><!-- CLEARSALE -->    
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <div class="m-footer__notes t-text--center">
        <div class="c-footer__notes-info t-text-color--dark t-bg-color--neutro">
            <div class="l-row-container">
                <p>SIERDOVSKI &amp; SIERDOVSKI LTDA / CNPJ: 03.874.953/0001-77 / Endereço: Rua Capitão Rocha, 2393 - Guarapuava, Pr - 85010-270</p>
            </div>
        </div>

        <div class="c-footer__powered-by t-text-color--dark t-bg-color--light">
            <div class="l-row-container">
                <span>Powered by</span>
                <a target="_blank" href="http://www.enext.com.br/" class="c-footer__powered-by-link is--enext is--icon">enext</a>
                <a target="_blank" href="http://www.vtex.com/" class="c-footer__powered-by-link is--vtex is--icon">vtex</a>
            </div>
        </div>
    </div>
</footer>

<vtex.cmc:CompleteSeuCadastro />

<div class="is--collapsed" style="display:none">
    <vtex.cmc:welcomeMessage/>
</div>

<vtex.cmc:popUpCadastroRevenda />
<vtex.cmc:popUpStores />
<vtex.cmc:newsPopUp />

<!--<script type="text/javascript" src="//cdn.admake.com.br/arquivos-vtex/mservice/arquivos/admake-default.js"></script>-->