<vtex:metaTags/>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="theme-color" content="#333333"/>

<link href="/arquivos/style.css" rel="stylesheet" type="text/css"/>


<script>
     $(function(){
        $(".c-main-banner__container").slick({
            dots: true,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 5000,
            slidesToShow: 1,
            adaptiveHeight: true
        });
    });
  
</script>