<div id="ah-utils">
    <div id="menu-banners">
        <div class="cabelos"><img src="/arquivos/banner-menu.jpg" /></div>
        <div class="maquiagem"><img src="/arquivos/banner-menu.jpg" /></div>
        <div class="unhas"><img src="/arquivos/banner-menu.jpg" /></div>
        <div class="homem"><img src="/arquivos/banner-menu.jpg" /></div>
        <div class="infantil"><img src="/arquivos/banner-menu.jpg" /></div>
        <div class="corpo-banho"><img src="/arquivos/banner-menu.jpg" /></div>
    </div>
</div>

<!-- Javascript-->
<script src="/arquivos/vendor.js"></script>
<script src="/arquivos/app.js"></script>