<div class="header__container">
    <div class="wrapper">
        <a href="/"><img src="/arquivos/logo_blkfrd.png" /></a>
        <div class="blk_menu">
            <strong>Marcas em promoção:</strong>
            <ul>
                <li><a href="/">Wella</a></li>
                <li><a href="/">Sebastian</a></li>
                <li><a href="/">Senscience</a></li>
                <li><a href="/">Joico</a></li>
                <li><a href="/">Nioxin</a></li>
            </ul>
        </div>
    </div>
</div>