<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    
    <head>
        <vtex:template id="00-likecosmeticos-head" />
    </head>
    
    <body id="empty-search">
        <div class="wrapper">
            <vtex:template id="00-likecosmeticos-menu" />

            <div class="wrapper__container">
                <vtex:template id="00-likecosmeticos-header" />
            
                <main class="main" id="main">
                    
                    <div class="main__container layout__col1" id="main__container">
                        <div class="layout__main">
                            <section class="empty__search">
                                <div class="empty__container">
            
                                    <h2>Nenhum resultado encontrado :(</h2>
                                    <h4> Infelizmente sua busca não retornou nenhum resultado. Mas não se preocupe, você pode fazer uma nova busca abaixo e tentar novamente.</h4>
                                    <div class="search ">
                                        <vtex.cmc:fullTextSearchBox/>
                                    </div>
            
                                </div>
                            </section>
                        </div>
                    </div>
                    
                </main>
                
            </div>
            
            <vtex:template id="00-likecosmeticos-footer" />
            <vtex:template id="00-likecosmeticos-scripts" />
            
        </div>
        
    </body>
</html>