<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    
    <head>
        <vtex:template id="00-likecosmeticos-head" />
    </head>
    <body id="orders-page">
        <div class="wrapper">
            <vtex:template id="00-likecosmeticos-menu" />

            <div class="wrapper__container">
                <vtex:template id="00-likecosmeticos-header" />
            
                <main class="main" id="main">
                    <!-- BreadCrumb -->
                    <section class="breadcrumb">
                        <div class="breadcrumb__container">
                            <div class="bread-crumb">
                                <ul>
                                    <li><a title="Monali Cométicos" href="/">Monali Cométicos</a></li>
                                    <li class="last"><strong><a title="Integracao" href="/_secure/account/orders">Meus pedidos</a></strong></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <!-- / BreadCrumb -->
            
                    <div class="main__container layout__col1" id="main__container">
                        <div class="layout__main">
                            <div class="account__orders"><vtex.cmc:orderList/></div>
                        </div>
            
                    </div>
                </main>
                
            </div>
            
            <vtex:template id="00-likecosmeticos-footer" />
            <vtex:template id="00-likecosmeticos-scripts" />
    
        </div>
        
    </body>
</html>