<li class="payment__ico"><img src="/arquivos/visa.png" alt="Visa" /></li>
<li class="payment__ico"><img src="/arquivos/mastercard.png" alt="Mastercard" /></li>
<li class="payment__ico"><img src="/arquivos/amex.png" alt="Amex" /></li>
<li class="payment__ico"><img src="/arquivos/diners.png" alt="Diners" /></li>
<li class="payment__ico"><img src="/arquivos/aura.png" alt="Aura" /></li>
<li class="payment__ico"><img src="/arquivos/elo.png" alt="Elo" /></li>
<li class="payment__ico"><img src="/arquivos/hipercard.png" alt="Hipercard" /></li>
<li class="payment__ico"><img src="/arquivos/bb.png" alt="BB" /></li>
<li class="payment__ico"><img src="/arquivos/bradesco.png" alt="Bradesco" /></li>
<li class="payment__ico"><img src="/arquivos/itau.png" alt="Itaú" /></li>
<li class="payment__ico"><img src="/arquivos/boleto.png" alt="Boleto" /></li>