.security
    &__list
        margin          : -5px
        font-size       : 0

    &__item
        display         : inline-block
        vertical-align  : top
        margin          : 2px


@media screen and (min-width: 992px)
    .security
        &__item
            float       : left

