.qtds
    display: flex 
    width: 75px
    max-width: 75px
    background: #FBFBFB
    border: 1px solid #EAEAEA
    border-radius: 5px
    position relative
    height 50px

    &__button 
        flex: 0 0 30px
        max-width: 30px
        padding: 0
        display: flex 
        justify-content: center 
        align-items: center 
        width: 30px 
        height: 25px 
        border: 0
        background: none 
        font-weight: semi-bold
        cursor: pointer
        position: absolute
        right 0
        font-size: 18px
        color: #8B8A8A

    .qtds__button--more
        top: 0

        

    .qtds__button--less
        bottom: 0

    &__input 
        background: none 
        flex: 1
        height: 50px 
        width: 100%
        text-align: center 
        border: 0
        min-width: 0
        font-size: 18px
        font-weight: semi-bold
        color: color[1]
        max-width 50px
