.wrapper
    body > &
        width                   : 100%
        padding-top             : 177px
        @media (min-width: 992px)
            padding-top         : 140px
        
        @media(max-width: 991px)
            padding-top 170px
            
#vtexIdContainer
    position            : fixed !important 