.contact
    &__label
        font-size           : 13px
        font-weight         : semi-bold

        line-height         : 1

        color               : color[1]

    &__tel
        font-size           : 20px
        font-weight         : semi-bold

        line-height         : 1

        color               : color[1]

    &__email
        margin              : 10px 0


    &--white
        .contact
            &__label, &__tel, &__email 
                a
                    color       : #fff