.partners
    text-align          : center
    background          : #fff
    &__link
        display         : inline-block
        vertical-align  : middle
        &--auaha
            margin-right    : 12px