$container
    max-width       : viewport
    width           : 100%
    padding         : 0 15px
    margin          : 0 auto

container = @block {
    max-width       : viewport
    width           : 100%
    padding         : 0 15px
    margin          : 0 auto
}
