#product-page
    .valor-por
        strong 
            font-size: 27px
            
.valor-por
    font-size       : 0

    strong 
        font-weight : bold
        color       : color[2] 
        font-size   : 20px
        line-height : 24px
        
        @media(max-width : 991px)
            font-size: 17px
            line-height: 20px

    .showcase__item--offer &
        font-size   : 17px
        color       : #FF7000

    .product__prices &
        font-size: 24px

.product__other-payment 
    margin-bottom   : 25px 

    .product__btn-other-payment
        font-size   : 12px
        color       : #8B8A8A
        font-weight : 400
        cursor      : pointer

        &:before 
            font-icon       : url('./svg/card.svg')
            font-size       : 10px
            color           : color[0]
            margin-right    : 5px

    .other-payment-method-content
        max-height: 0
        visibility hidden
        opacity 0 

    .titulo-parcelamento,  .see-other-payment-method-link
        display: none!important

    ul.other-payment-method-ul
        margin-top 5px
        padding-left: 20px
 
        li  
            font-size: 12px
            color: #8B8A8A
            font-weight: 400
            margin-bottom: 3px
            span  
                color: #8B8A8A
                font-weight: 400

            .other-payment-method-intereset-no, .other-payment-method-intereset-yes
                color: #8B8A8A

            strong  
                color: color[0]

.on-payment
    .other-payment-method-content
        max-height: none
        visibility visible
        opacity 1
            
.valor-de
    
    font-weight     : light
    font-size       : 0 
    color           : color[0]
    text-decoration : line-through
    line-height     : 15px
    height          : 15px

    &:before
        content         : 'de'!important
        font-size       : 13px
        margin-right    : 5px 

    strong 
        font-weight     : light
        font-size       : 13px

.product__flags 
    display: block
    margin-bottom: 25px
    width: 100%

    .product__flags-title
        font-size: 12px
        color: #8B8A8A
        display: block 
        margin-bottom: 5px

.preco-a-vista.price-cash, .economia-de
    display: none !important

.price-installments
    font-size: 25px
    font-weight: 700
    
    span  
        span  
            font-size: 0

            label, span
                font-size: 25px
                color: color[0]

            label  
                &:after
                    content: 'de'
                    margin: 0 5px
                    color: color[1]

        strong  
            color: color[0]


.price__installment
    font-size       : 20px
    font-weight     : bold
    color           : color[1]
    strong
        color       : color[0]

    @media(max-width : 991px)
        font-size: 15px
        line-height: 20px
        
.save-price.price__save
    display         : none
    font-size       : 12px


// Página de  produto
.product__price-inner

    .wrapper
    .economia-de
        display: none

    .productPrice
        text-align: center

    .price-list-price
        font-size: 13px
        color: #A8A8A8
        letter-spacing: -0.24px
        text-decoration: line-through 
        strong 
            font-weight: 400

    .price-best-price
        font-size: 0 
        strong
            font-size: 24px
            line-height: 24px

    .valor-dividido
        font-size: 18px
        color: #333333
        letter-spacing: -0.33px
        strong 
            font-weight: 400

    .preco-a-vista
        display: none !important



.pencent-price
    background: #FF4A4A
    color: #fff
    position: absolute
    top: 10px
    right: 10px
    font-size: 12px
    width: 38px
    height: 38px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    text-transform: uppercase
    line-height: 12px
    padding: 7px 0
    font-weight: 600
    em 
        display: block
        width: 25px
    



.prices__discount 
    font-size       : 12px
    font-weight     : semi-bold 
    color           : #434343
    padding-top     : 5px
    .price 
        font-size   : 16px
        font-weight : semi-bold
        color       : #43C233       
