.payment
    &__list
        font-size               : 0
        margin                  : -5px

        .diners 
            width: 25px;
            height: 20px;


    &__ico
        display                 : inline-block
        margin                  : 5px

        img
            max-height          : 20px

